body {
  background-image: url(../img/eight_horns.png);
}
#header {
  width:100%;
}
#header img {
  width:100%;
  height:700px;
  position:relative;
  border-bottom: solid black 8px;
}
h1 {
position: absolute;
text-align: center;
top: 200px;
width: 100%;
}
#header h1 {
  font-family:  'Julius Sans One' , sans-serif;
  color: #e4e4e4;
  font-weight: bold;
  font-size: 60px;
}
#bio {
  margin-top: 60px;
  border-bottom: solid black 2px;
}
#bio h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.home-font {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 20px;
  text-align: center;
}
#hobbies {
  font-family: 'Fira Sans Condensed', sans-serif;
  text-align: center;
  margin-top: 70px;
  padding-bottom: 50px;
}
#hobbies ul {
  list-style-type: none;
  line-height: 40px;
  font-size: 20px;
}

.img-fix {
  width: 100%;
}
p {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 20px;
  margin-bottom: 50px;
}
.col-md-4 {
  min-height: 700px;
}
h2 {
  font-size: 50px;
  margin-bottom: 60px;
  margin-top: 80px;
  text-align: center;
}
#projects {
  border-top: solid black 2px;
  margin-top: 80px;
  padding-top: 50px;
}
#education {
  text-align: center;
  line-height: 40px;
  font-family: 'Fira Sans Condensed',sans-serif;
  font-size: 20px;
  border-top: solid black 2px;
}
ol {
  list-style-position: inside;
}
